__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.db
data/cvs/*
!data/cvs/.gitkeep
data/models/*
!data/models/.gitkeep
*.exe
*.spec
build/
dist/
token.json
credentials.json
data/secrets/
data/*.db 
data/cvs/*
!data/cvs/.gitkeep
data/secrets/ 
secrets/
credentials.json
token.json
.env 

